# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Benjamin Harter

**Objectives:**
* List popular languages in Data Science.
* List popular libraries in Data Science.
* List commonly used development environments in Data Science.
* Demonstrate evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. ggplot2
3. Numpy

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|R Studio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335